<footer class="container-f flex bg-white">
    <div class="container-l footer-container container-padding flex flex-col gap-30">
        <div class="container-f flex footer-top">
            <img src="./img/logo/logo-footer.webp" alt="Horizon Logo" style="max-width: 260px;">
        </div>
        <div class="container-f flex footer-bottom jus-sb flex-wrap">
            <div class="flex flex-col footer-bottom__content gap-10">
                <h3>CÔNG TY TNHH KIỂM TOÁN HORIZON</h3>
                <div class="flex center-ver gap-10">
                    <img src="./img/icon/phone.svg" alt="phone" style="width: 16px;">
                    <p>+84 8 62975736/37/39</p>
                </div>
                <div class="flex center-ver gap-10">
                    <img src="./img/icon/location.svg" alt="location" style="width: 16px;">
                    <p>Toà nhà The Prime, 37 Hoàng Văn Thụ, P.15, Q. Phú Nhuận, TP.HCM</p>
                </div>
                <div class="flex center-ver gap-10">
                    <img src="./img/icon/mail.svg" alt="email" style="width: 16px;">
                    <p>info@horizon.com.vn</p>
                </div>
                <div class="flex center-ver gap-10">
                    <img src="./img/icon/web.svg" alt="website" style="width: 16px;">
                    <p>www.horizon.com.vn</p>
                </div>
            </div>
            <div class="flex flex-col footer-bottom__content gap-10">
                <h3>Về Horizon</h3>
                <a href="#">Giới thiệu công ty</a>
                <a href="#">Triết lý công ty</a>
                <a href="#">Tầm nhìn công ty</a>
                <a href="#">Đội ngũ nhân viên</a>
                <a href="#">Khách hàng tiêu biểu</a>
            </div>
            <div class="flex flex-col footer-bottom__content gap-10">
                <h3>Giải pháp</h3>
                <a href="#">Dịch vụ kế toán</a>
                <a href="#">Dịch vụ kiểm toán</a>
                <a href="#">Dịch vụ tư vấn</a>
                <a href="bold">Tính phí thử</a>
                <a href="#">Phần mềm ERP</a>
            </div>
            <div class="flex flex-col footer-bottom__content gap-10">
                <h3>Tài nguyên</h3>
                <a href="#">Liên hệ</a>
                <a href="#">Hỗ trợ / trợ giúp máy chủ</a>
                <a href="#">Tin tức chuyên ngành</a>
                <a href="#">Tin tuyển dụng</a>
            </div>
            <div class="flex flex-col footer-bottom__content gap-10">
                <h3>Chính sách</h3>
                <a href="#">Điều khoản sử dụng</a>
                <a href="#">Chính sách bảo mật</a>
                <a href="#">Chính sách pháp lý</a>
                <div class="flex gap-10 center-ver" style="margin-top: 10px;">
                    <img src="./img/logo/bo-cong-thuong.webp" alt="Bộ công thương" style="max-width: 150px;">
                </div>
            </div>
        </div>
    </div>
</footer>


