<div class="container-f bg-black">
    <div class="container-l flex center-ver header-bar right-hor">
        <div class="flex header-container header-bottom ">
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="#" class="text-color-white">English ▾</a>
                <div class="menu-list flex flex-col">
                    <div class="menu-leveltwo__container pos-rel">
                        <a href="#" class="">Tiếng Việt</a>
                    </div>
                    <div class="menu-leveltwo__container pos-rel">
                        <a href="#" class="">Korea</a>
                    </div>
                </div>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="../login.html" class="text-color-white">Đăng nhập</a>
            </div>
            <div class="menu-container__item drop-down flex center-ver ">
                <a href="../signin.html" class="text-color-white">Đăng ký</a>
            </div>
            <div class="menu-container__item  user-login hidden drop-down flex center-ver ">
                <img src="./img/icon/user.svg" alt="">
                <div class="menu-list flex flex-col">
                    <div class="menu-leveltwo__container pos-rel">
                        <a href="#" class="">Thông tin tài khoản</a>
                    </div>
                    <div class="menu-leveltwo__container pos-rel">
                        <a href="#" class="">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-l flex pos-rel header-top">
    <a href="../index.html" class="logo">
        <img title="logo trang chủ" src="./img/logo/logo-top.webp" alt="">
    </a>
    <div class="flex header-container header-bottom end-ver">
        <div class="menu-container__item flex center-ver ">
            <a href="../index.html">🏠︎</a>
        </div>

        <div class="menu-container__item drop-down flex center-ver">
            <a href="../intro.html">Giới thiệu ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Khách hàng tiêu biểu</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Giới thiệu công ty</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Triết lý công ty</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Tầm nhìn công ty</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Tìm chúng tôi</a>
                </div>
            </div>
        </div>

        <div class="menu-container__item drop-down flex center-ver">
            <a href="#">Dịch vụ ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Dịch vụ kế toán</a>
                    <div class="menu-list__leveltwo flex flex-col ">
                        <a href="../chothueketoan.html">Cho thuê kế toán</a>
                        <a href="../thamdinhhethongketoan.html">Thẩm định hệ thống kế toán</a>
                        <a href="../hoanthienhethong.html">Hoàn thiện hệ thống</a>
                        <a href="../tuvanketoantuxa.html">Tư vấn kế toán từ xa</a>
                        <a href="../quytrinhthuchien-ketoan.html">Quy trình thực hiện</a>
                    </div>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Dịch vụ thuế</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="#">Dịch vụ tư vấn</a>
                    <div class="menu-list__leveltwo flex flex-col ">
                        <a href="../tuvanquanly.html">Tư vấn quản lý</a>
                        <a href="../tuvandautu.html">Tư vấn đầu tư</a>
                        <a href="../tuvantaichinh.html">Tư vấn tài chính</a>
                        <a href="../tuvanthue.html">Tư vấn thuế</a>
                        <a href="../quytrinhthuchien.html">Quy trình thực hiện</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-container__item drop-down flex center-ver">
            <a href="#">Phần mềm ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../phanmemquanly.html">Phần mềm quản lý ERP</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../phanmemketoan.html">Phần mềm kế toán</a>
                </div>
            </div>
        </div>

        <div class="menu-container__item drop-down flex center-ver">
            <a href="../news.html">Tin tức ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../news-cat.html">Tin nội bộ</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../news-cat.html">Tin tuyển dụng</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../team.html">Đội ngũ nhân viên</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../news-cat.html">Tin chuyên ngành</a>
                </div>
            </div>
        </div>

        <div class="menu-container__item drop-down flex center-ver">
            <a href="../contact.html">Liên hệ</a>
        </div>

        <div class="menu-container__item drop-down flex center-ver">
            <a href="../fee-calculator.html">Tính phí thử ▾</a>
            <div class="menu-list flex flex-col">
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../company-formation.html">Thành lập mới</a>
                </div>
                <div class="menu-leveltwo__container pos-rel">
                    <a href="../business-amendment.html">Thay đổi nội dung đăng ký kinh doanh</a>
                </div>
            </div>
        </div>
        <button class="menu-container__bar flex center-ver">
            <img src="./img/icon/bars.svg" alt="">
        </button>
        <div class="m-menu flex flex-col">
            <div class="m-menu__root">
                <div class="m-menu__item is-active flex flex-col">
                    <a href="../intro.html" class="m-menu__link">Giới thiệu</a>
                    <div class="m-submenu flex flex-col bg-white">
                        <a href="#">Khách hàng tiêu biểu</a>
                        <a href="#">Giới thiệu công ty</a>
                        <a href="#">Triết lý công ty</a>
                        <a href="#">Tầm nhìn công ty</a>
                        <a href="#">Tìm chúng tôi</a>
                    </div>
                </div>

                <div class="m-menu__item is-active flex flex-col">
                    <a href="#" class="m-menu__link">Dịch vụ</a>
                    <div class="m-submenu flex flex-col bg-white">
                        <a href="../chothueketoan.html">Cho thuê kế toán</a>
                        <a href="../thamdinhhethongketoan.html">Thẩm định hệ thống kế toán</a>
                        <a href="../hoanthienhethong.html">Hoàn thiện hệ thống</a>
                        <a href="../tuvanketoantuxa.html">Tư vấn kế toán từ xa</a>
                        <a href="../quytrinhthuchien-ketoan.html">Quy trình thực hiện kế toán</a>
                        <a href="#">Dịch vụ thuế</a>
                        <a href="../tuvanquanly.html">Tư vấn quản lý</a>
                        <a href="../tuvandautu.html">Tư vấn đầu tư</a>
                        <a href="../tuvantaichinh.html">Tư vấn tài chính</a>
                        <a href="../tuvanthue.html">Tư vấn thuế</a>
                        <a href="../quytrinhthuchien.html">Quy trình thực hiện tư vấn</a>
                    </div>
                </div>

                <div class="m-menu__item is-active flex flex-col">
                    <a href="#" class="m-menu__link">Phần mềm</a>
                    <div class="m-submenu flex flex-col bg-white">
                        <a href="../phanmemquanly.html">Phần mềm quản lý ERP</a>
                        <a href="../phanmemketoan.html">Phần mềm kế toán</a>
                    </div>
                </div>

                <div class="m-menu__item is-active flex flex-col">
                    <a href="../news.html" class="m-menu__link">Tin tức</a>
                    <div class="m-submenu flex flex-col bg-white">
                        <a href="../news-cat.html">Tin nội bộ</a>
                        <a href="../news-cat.html">Tin tuyển dụng</a>
                        <a href="../team.html">Đội ngũ nhân viên</a>
                        <a href="../news-cat.html">Tin chuyên ngành</a>
                    </div>
                </div>

                <div class="m-menu__item is-active flex flex-col">
                    <a href="../contact.html" class="m-menu__link">Liên hệ</a>
                </div>

                <div class="m-menu__item is-active flex flex-col">
                    <a href="../fee-calculator.html" class="m-menu__link">Tính phí thử</a>
                    <div class="m-submenu flex flex-col bg-white">
                        <a href="../company-formation.html">Thành lập mới</a>
                        <a href="../business-amendment.html">Thay đổi nội dung đăng ký kinh doanh</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


