<div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header flex jus-sb center-ver">
                            <img src="./img/brand/pro-digicert.svg" height="22">
                            <span class="arrow">▾</span>
                        </div>

                        <div class="accordion-body hidden flex-col">
                            <a href="#">▸ Secure Site</a>
                            <a href="#">▸ Secure Site Pro</a>
                            <a href="#">▸ EV SSL</a>
                            <a href="#">▸ Wildcard SSL</a>
                        </div>
                    </div>


